Repository UPB-PMRust/upb-pmrust.github.io, pull requests merged in 2024-05, with the labels that each got.

#127 Project documentation (andrei.dragota)
  docs/project/2024/andrei.dragota/architecture.png
  docs/project/2024/andrei.dragota/hardware.png
  docs/project/2024/andrei.dragota/index.md
Labels: project

#128 Project documentation (florin_mihai.prodan)
  docs/project/2024/florin_mihai.prodan/PROTOTIP.png
  docs/project/2024/florin_mihai.prodan/index.md
Labels: project

#140 Project documentation (mihai.smarandache)
  docs/project/2024/mihai.smarandache/block_diagram.png
  docs/project/2024/mihai.smarandache/index.md
  docs/project/2024/mihai.smarandache/kicad_schematic.png
Labels: project

#136 Project documentation (cristiana.precup)
  docs/project/2024/cristiana.precup/Architecture.png
  docs/project/2024/cristiana.precup/index.md
Labels: project

#135 Naomi Lita project documentation
  docs/project/2024/your_curs.upb.ro_Naomi_Lita/architectureChioreanLita.png
  docs/project/2024/your_curs.upb.ro_Naomi_Lita/index.md
Labels: project

#151 Update project name
  docs/project/2024/Layla.el/index.md
Labels: project

#156 Fix project typo
  docs/project/2024/abdul.mirghani/index.md
Labels: project

#150 Update project name
  docs/project/2024/andrei.dragota/index.md
Labels: project

#157 Add a project description line
  docs/project/2024/your_curs_upb_ro_id.md
Labels: project

#154 change libraries
  docs/project/2024/andrei.dragota/index.md
Labels: project

#138 Project documentation for Ruxandra Popa
  docs/project/2024/Ruxandra.popa/Schematic.png
  docs/project/2024/Ruxandra.popa/index.md
Labels: project

#144 Project documentation - Ana Maria Comeaga
  docs/project/2024/ana_maria.comeaga/Architecture.png
  docs/project/2024/ana_maria.comeaga/your_curs_upb_ro_id.md
Labels: project

#134 Chiorean Rebeca project documentation
  docs/project/2024/rebeca.chiorean/architectureChioreanLita.png
  docs/project/2024/rebeca.chiorean/index.md
Labels: project

#155 Project documentation (i just removed the software examples im not using)
  docs/project/2024/Layla.el/index.md
Labels: project

#158 Fix projects
  docs/project/2024/ana_maria.comeaga/index.md
  docs/project/2024/naomi.lita/architectureChioreanLita.png
  docs/project/2024/naomi.lita/index.md
Labels: project

#126 Project documentation (alberto.udrea0412)
  docs/project/2024/alberto.udrea0412/architecture_dark.svg
  docs/project/2024/alberto.udrea0412/architecture_light.svg
  docs/project/2024/alberto.udrea0412/index.md
  src/css/custom.css
Labels: website, project

#163 update libraries
  docs/project/2024/andrei.dragota/index.md
Labels: project

#164 Negrila Rares Documentaion (rares.negrila@stud.fils.upb.ro)
  docs/project/2024/rares.negrila/assets/Architecture.JPG
  docs/project/2024/rares.negrila/assets/KiCad.JPG
  docs/project/2024/rares.negrila/index.md
Labels: project

#152 Project documentation for Pet Feeder
  docs/project/2024/eduard.finichiu/diagram.jpg
  docs/project/2024/eduard.finichiu/index.md
Labels: project

#165 Update index.md
  docs/project/2024/Ruxandra.popa/index.md
Labels: project

#169 Add one line description to the project documentation (mihai.smarandache)
  docs/project/2024/mihai.smarandache/index.md
Labels: project

#170 Project documentation (kaan.ugur)
  docs/project/2024/kaan.ugur/index.md
  docs/project/2024/kaan.ugur/projectprototip.png
Labels: project

#189 add one line description
  docs/project/2024/andrei.dragota/index.md
Labels: project

#180 gabriel.danaila - pull request for project's documentation
  docs/project/2024/gabriel.danaila/block_diagram.png
  docs/project/2024/gabriel.danaila/index.md
Labels: project

#196 Project Documentation - V1 (victor.istudor)
  docs/project/2024/victor.istudor/Components.jpg
  docs/project/2024/victor.istudor/Schematics.drawio.png
  docs/project/2024/victor.istudor/index.md
Labels: project

#147 Project documentation - Update
  docs/project/2024/ramona.nitu/Architecture.jpg
  docs/project/2024/ramona.nitu/index.md
Labels: project

#185 Removed unnecessary bracket (alberto.udrea0412)
  docs/project/2024/alberto.udrea0412/index.md
Labels: project

#133 Project documentation (eduard.matei2905)
  docs/project/2024/eduard.matei2905/index.md
Labels: project

#191 Project documentation (antonio.pelmus)
  docs/project/2024/antonio.pelmus/architecture.png
  docs/project/2024/antonio.pelmus/index.md
Labels: project

#142 Project Documentation(Ioana_maria.cristea)
  docs/project/2024/Ioana_maria.cristea/index.md
  docs/project/2024/Ioana_maria.cristea/proiectma.jpg
Labels: project

#186 project documentation
  docs/project/2024/ana_maria.balutoiu/Architecture.png
  docs/project/2024/ana_maria.balutoiu/index.md
Labels: project

#168 Project documentation (EL-GHOUL LAYLA)
  docs/project/2024/Layla.el/Architecture2.png
  docs/project/2024/Layla.el/index.md
Labels: project

#177 Project Update
  docs/project/2024/cristian.iacobescu/architecture.png
  docs/project/2024/cristian.iacobescu/index.md
  docs/project/2024/cristian.iacobescu/kicad.PNG
Labels: project

#175 Create index.md
  docs/project/2024/ioana.postelnecu/Arhitechture.JPG
  docs/project/2024/ioana.postelnecu/index.md
Labels: project

#146 Added project documentation
  docs/project/2024/hadasa.jercau/Diagram.jpg
  docs/project/2024/hadasa.jercau/index.md
Labels: project

#208 Update the title of the index.md file.
  docs/project/2024/victor.istudor/index.md
Labels: project

#148 Project documentation
  docs/project/2024/mohamad_mario.sakka/index.md
  docs/project/2024/mohamad_mario.sakka/project_architecture.png
Labels: project

#181 I have made a folder with my curs.upb.ro username in docs/project/2024
  docs/project/2024/azzam.zafar/index.md
  docs/project/2024/azzam.zafar/project_architecture.svg
Labels: project

#178 Project documentation RustFlower
  docs/project/2024/radu_costin.baccela/diagram.png
  docs/project/2024/radu_costin.baccela/index.md
Labels: project

#204 Added project documentation
  docs/project/2024/adrian.bontas/Architecture.jpg
  docs/project/2024/adrian.bontas/index.md
Labels: project

#166 Add project documentation for Rata_Mircea_Andrei
  docs/project/2024/mircea_andrei.rata/arhitecture.png
  docs/project/2024/mircea_andrei.rata/index.md
Labels: project

#167 Project Documentation-SmartBot Navigator
  docs/project/2024/mihaela_raluca.dorobantu/architecture.png
  docs/project/2024/mihaela_raluca.dorobantu/index.md
Labels: project

#182 Project documentation TempTune
  docs/project/2024/gabriel.bilciurescu_eduard_ionut.pica/arhitecture.png
  docs/project/2024/gabriel.bilciurescu_eduard_ionut.pica/index.md
  docs/project/2024/gabriel.bilciurescu_eduard_ionut.pica/logo.jpg
Labels: project

#183 Updated poject documentation
  docs/project/2024/mara.iubitu/architectureMaraIubitu.jpg
  docs/project/2024/mara.iubitu/index.md
Labels: project

#184 submit documentation
  docs/project/2024/mihai.pasaroiu/arhitecture.png
  docs/project/2024/mihai.pasaroiu/index.md
Labels: project

#190 Project Documentation (mihai.tigaeru)
  docs/project/2024/mihai.tigaeru/assets/Architecture.png
  docs/project/2024/mihai.tigaeru/index.md
Labels: project

#223 Project Documentation Stoica Stefan Nicolae
  docs/project/2024/stefan.stoica2706/architecture.png
  docs/project/2024/stefan.stoica2706/index.md
Labels: project

#229 Documentation
  docs/project/2024/raul_anton.jac/index.md
  docs/project/2024/raul_anton.jac/schematicsforcomponents.png
Labels: project

#222 Ferrari Line Follower and Obstacle Avoider Car
  docs/project/2024/maria.ionescu/architecture.jpg
  docs/project/2024/maria.ionescu/diagram.jpeg
  docs/project/2024/maria.ionescu/index.md
Labels: project

#197 documentation
  docs/project/2024/ioana.surugiu/arhitecture_schematic.jpg
  docs/project/2024/ioana.surugiu/index.md
Labels: project

#231 Project Documentation
  docs/project/2024/catalin.barabas/LEDMusicStrip.png
  docs/project/2024/catalin.barabas/index.md
Labels: project

#188 iulia.buta
  docs/project/2024/iulia_mirela.buta/index.md
Labels: project

#198 Documentation
  docs/project/2024/george.radu2504/Architecture.png
  docs/project/2024/george.radu2504/index.md
Labels: project

#179 george.petre1104 Project
  docs/project/2024/george.petre1104/Schematic.png
  docs/project/2024/george.petre1104/index.md
Labels: project

#215 Teodora.Chirila
  docs/project/2024/teodora.chirila/image.png
  docs/project/2024/teodora.chirila/index.md
Labels: project

#201 Documentation
  docs/project/2024/ana.teodorescu2203/diagram.jpg
  docs/project/2024/ana.teodorescu2203/index.md
Labels: project

#236 Project Documentation TicTacToe
  docs/project/2024/matei_teodor.petrec/architechture.jpg
  docs/project/2024/matei_teodor.petrec/index.md
Labels: project

#224 Fix student project info boxes
  docs/project/2024/adrian.bontas/index.md
  docs/project/2024/alberto.udrea0412/architecture_dark.svg
  docs/project/2024/alberto.udrea0412/architecture_light.svg
  docs/project/2024/andrei.dragota/index.md
  docs/project/2024/azzam.zafar/index.md
  docs/project/2024/azzam.zafar/project_architecture.svg
  docs/project/2024/eduard.finichiu/index.md
  docs/project/2024/florin_mihai.prodan/index.md
  docs/project/2024/hadasa.jercau/index.md
  docs/project/2024/victor.istudor/index.md
Labels: project

#233 project_documentation for alisan.guneri
  docs/project/2024/alisan.guneri/index.md
Labels: project

#232 Project documentation
  docs/project/2024/abdul.mirghani/Architecture.png
  docs/project/2024/abdul.mirghani/index.md
Labels: project

#218 Added project documentation
  docs/project/2024/rares.ionescu3004/architecture.png
  docs/project/2024/rares.ionescu3004/index.md
Labels: project

#234 Fixed typos, modified architecture, hardware and bill of materials sections
  docs/project/2024/mohamad_mario.sakka/MA_project_architecture.png
  docs/project/2024/mohamad_mario.sakka/index.md
  docs/project/2024/mohamad_mario.sakka/project_architecture.png
Labels: project

#235 Proiect Rapa Denis 1221EB
  docs/project/2024/denis_andrei.rapa/Architecture.png
  docs/project/2024/denis_andrei.rapa/index.md
Labels: project

#227 project_documentation
  docs/project/2024/oana_roxana.lascu/architecture.png
  docs/project/2024/oana_roxana.lascu/index.md
Labels: project

#230 Project
  docs/project/2024/ana_maria.adascalitei/architecture.png
  docs/project/2024/ana_maria.adascalitei/index.md
Labels: project

#192 tudor.arhir (project-doc)
  docs/project/2024/tudor.arhir/image-1.png
  docs/project/2024/tudor.arhir/index.md
Labels: project

#139 project documentation
  docs/project/2024/mihai.georgescu2508/index.md
  docs/project/2024/mihai.georgescu2508/schematic.jpg
Labels: project

#205 Documentation
  docs/project/2024/alexandra.oblu/alexandra.oblu.md
Labels: project

#211 Documentation
  docs/project/2024/mykyta.pidgornyi/Pasted_image_20240504182423.png
  docs/project/2024/mykyta.pidgornyi/Pasted_image_20240504200734.png
  docs/project/2024/mykyta.pidgornyi/index.md
Labels: project

#239 Update index.md
  docs/project/2024/george.petre1104/index.md
Labels: project

#203 Added one line description
  docs/project/2024/ana_maria.comeaga/index.md
Labels: project

#244 Update index.md
  docs/project/2024/azzam.zafar/index.md
Labels: project

#245 Update index.md
  docs/project/2024/raul_anton.jac/index.md
Labels: project

#243 Update index.md
  docs/project/2024/mihai.pasaroiu/index.md
Labels: project

#199 Project documentation (ioana_miruna.badica)
  docs/project/2024/ioana_miruna.badica/index.md
Labels: project

#209 Project documentation
  docs/project/2024/vlad.vulturescu/architecture.png
  docs/project/2024/vlad.vulturescu/index.md
Labels: project

#247 Update index.md
  docs/project/2024/oana_roxana.lascu/index.md
Labels: project

#240 Proiect Ana Batagoi
  docs/project/2024/ana_maria.batagoi/architecture_schematics.png
  docs/project/2024/ana_maria.batagoi/index.md
Labels: project

#207 Project documentation (miruna.solomon)
  docs/project/2024/miruna.solomon/IMG_4712.jpeg
  docs/project/2024/miruna.solomon/index.md
Labels: project

#210 Tic Tac Toe Project
  docs/project/2024/teodor_matei.francu/architecture.png
  docs/project/2024/teodor_matei.francu/index.md
Labels: project

#171 Project documentation (carina.grec)
  docs/project/2024/carina.grec/architecture.png
  docs/project/2024/carina.grec/index.md
Labels: project

#252 Alexia_Alecu(Pitch Detector).Documentation
  docs/project/2024/ana_alexia.alecu/Schematic.png
  docs/project/2024/ana_alexia.alecu/index.md
Labels: project

#250 Project description homework
  docs/project/2024/matei.radu2105/Project_architecture.png
  docs/project/2024/matei.radu2105/index.md
Labels: project

#249 Project documentation
  docs/project/2024/alexia.nica/architecture_diagram.png
  docs/project/2024/alexia.nica/index.md
Labels: project

#214 Project documentation
  docs/project/2024/emma.rachiteanu/img/FrontViewRoboticArm.jpg
  docs/project/2024/emma.rachiteanu/img/SideViewRoboticArm.jpg
  docs/project/2024/emma.rachiteanu/img/schematic.jpg
  docs/project/2024/emma.rachiteanu/index.md
Labels: project

#226 reuploading documentation
  docs/project/2024/s_m.takdeer/ProjectArchitechture.png
  docs/project/2024/s_m.takdeer/index.md
Labels: project

#253 Project documentation (mihai.popescu)
  docs/project/2024/mihai.popescu/arhitecture.png
  docs/project/2024/mihai.popescu/index.md
Labels: project

#255 added project documentation
  docs/project/2024/elena.bilciurescu_daria_maria.toma/architecture.png
  docs/project/2024/elena.bilciurescu_daria_maria.toma/index.md
Labels: project

#193 project documentation (mihai.buga)
  docs/project/2024/mihai.buga/architecture.png
  docs/project/2024/mihai.buga/index.md
Labels: project

#241 Project documentation fix
  docs/project/2024/mihai.tigaeru/Architecture.png
  docs/project/2024/mihai.tigaeru/assets/Architecture.png
  docs/project/2024/mihai.tigaeru/index.md
Labels: project

#258 Update index.md
  docs/project/2024/alexia.nica/index.md
Labels: project

#261 Project documentation
  docs/project/2024/denisa.craciun/architecture.png
  docs/project/2024/denisa.craciun/index.md
Labels: project

#173 Project documentation
  docs/project/2024/vlad_andrei.dumitru/Schematic.png
  docs/project/2024/vlad_andrei.dumitru/index.md
Labels: project

#219 Project documentation (costin.curaru)
  docs/project/2024/costin.ciuraru/index.md
  docs/project/2024/costin.ciuraru/projection.png
Labels: project

#225 initial commit
  docs/project/2024/roman.gulida/architecture.jpg
  docs/project/2024/roman.gulida/index.md
Labels: project

#194 Added my project
  docs/project/2024/robert.leonte/Architecture.png
  docs/project/2024/robert.leonte/index.md
Labels: project

#259 Project documentation (tudor.balba)
  docs/project/2024/tudor.balba/arhitecture_project.jpg
  docs/project/2024/tudor.balba/index.md
Labels: project

#246 project_documentation
  docs/project/2024/amalia.munteanu/Architecture1.png
  docs/project/2024/amalia.munteanu/index.md
Labels: project

#262 Update index.md
  docs/project/2024/rares.ionescu3004/index.md
Labels: project

#263 Updated table of libraries used in this project.
  docs/project/2024/mohamad_mario.sakka/index.md
Labels: project

#257 i made my project documentation
  docs/project/2024/essam.al/index.md
Labels: project

#153 Project_documentation_WIFIcar
  docs/project/2024/teodora.dumitru1807/SS-AM.png
  docs/project/2024/teodora.dumitru1807/image-1.png
  docs/project/2024/teodora.dumitru1807/image-2.png
  docs/project/2024/teodora.dumitru1807/image.png
  docs/project/2024/teodora.dumitru1807/index.md
Labels: project

#266 Air piano
  docs/project/2024/teodora.chirila/index.md
Labels: project

#212 documentation
  docs/project/2024/teodor.marinescu/Diagram.png
  docs/project/2024/teodor.marinescu/index.md
Labels: project

#228 Project Documentation
  docs/project/2024/ionut.boghici/diagram.png
  docs/project/2024/ionut.boghici/index.md
Labels: project

#242 Kalman filter alert system project documentation
  docs/project/2024/maria-irina.fotescu_teo-antonio.economu/Arhitecturediagram.jpg
  docs/project/2024/maria-irina.fotescu_teo-antonio.economu/index.md
Labels: project

#238 Project Doc Added!
  docs/project/2024/seif.gzara/Block diagram.png
  docs/project/2024/seif.gzara/index.md
Labels: project

#264 Project documentation(Rosioru Yaris)
  docs/project/2024/yaris.rosioru/architecture.png
  docs/project/2024/yaris.rosioru/index.md
Labels: project

#267 LED Midi Controller_documentation
  docs/project/2024/alexandru.ifrim2408/architecture.jpeg
  docs/project/2024/alexandru.ifrim2408/index.md
Labels: project

#265 project documentation
  docs/project/2024/luca.rosoiu/architectureLuca.png
  docs/project/2024/luca.rosoiu/index.md
Labels: project

#270 Fixed typo
  docs/project/index.md
Labels: project

#272 Updated project documentation
  docs/project/2024/victor.istudor/index.md
  docs/project/2024/victor.istudor/robot.jpg
  docs/project/2024/victor.istudor/soldering.jpg
Labels: project

#275 updated hardware schematic + fixes
  docs/project/2024/andrei.dragota/hardware.png
  docs/project/2024/andrei.dragota/index.md
Labels: project

#274 added documentation
  docs/project/2024/andra_ioana.uritu/Architecture.jpg
  docs/project/2024/andra_ioana.uritu/index.md
Labels: project

#276 Lecture 9
  docs/lecture/09.md
  slides/lectures/09/mmu/mmu.svg
  slides/lectures/09/mmu/page_directory.svg
  slides/lectures/09/mmu/page_entry_x86.json
  slides/lectures/09/mmu/page_entry_x86.svg
  slides/lectures/09/mmu/page_entry_x86pae.json
  slides/lectures/09/mmu/page_entry_x86pae.svg
  slides/lectures/09/mmu/page_translation.svg
  slides/lectures/09/mmu/paging.svg
  slides/lectures/09/mmu/slides.md
  slides/lectures/09/mmu/tlb.svg
  slides/lectures/09/mpu/layout.svg
  slides/lectures/09/mpu/memory_protection.svg
  slides/lectures/09/mpu/mpu.svg
  slides/lectures/09/mpu/mpu_regions.svg
  slides/lectures/09/mpu/mpu_rp2040.svg
  slides/lectures/09/mpu/regions_and_subregions.svg
  slides/lectures/09/mpu/slides.md
  slides/lectures/09/mpu/subregions.svg
  slides/lectures/09/pi5.jpg
  slides/lectures/09/pico.jpg
  slides/lectures/09/slides.md
Labels: lecture, slides

#283 Update links
  docs/project/2024/cristian.iacobescu/index.md
Labels: project

#278 Lab02 Reorganization
  docs/lab/02/02.md
Labels: lab

#282 Added KiCAD Schematic + 3 Libraries + Logs
  docs/project/2024/mihai.tigaeru/KicadSCH.svg
  docs/project/2024/mihai.tigaeru/index.md
Labels: project

#288 Added the KiCad schematics and some updates for the documentation
  docs/project/2024/victor.istudor/index.md
  docs/project/2024/victor.istudor/kicad_schematic.png
  docs/project/2024/victor.istudor/robot_stickers1.jpg
  docs/project/2024/victor.istudor/robot_stickers2.jpg
Labels: project

#291 finished up hardware milestone + fixes
  docs/project/2024/andrei.dragota/hardware.png
  docs/project/2024/andrei.dragota/hardware_implementation.jpg
  docs/project/2024/andrei.dragota/index.md
Labels: project

#296 update documentation for hardware milestone
  docs/project/2024/mihai.smarandache/hardware_picture1.jpg
  docs/project/2024/mihai.smarandache/hardware_picture2.jpg
  docs/project/2024/mihai.smarandache/index.md
Labels: project

#298 Hardware milestone documentation update
  docs/project/2024/eduard.matei2905/diagram.jpg
  docs/project/2024/eduard.matei2905/index.md
  docs/project/2024/eduard.matei2905/kicad.png
  docs/project/2024/eduard.matei2905/robot.jpg
Labels: project

#300 fix MCU name typo
  docs/project/2024/your_curs_upb_ro_id.md
Labels: project

#310 Hardware Milestone Documentation
  docs/project/2024/ana_maria.balutoiu/Hardware2.jpg
  docs/project/2024/ana_maria.balutoiu/KiCad.png
  docs/project/2024/ana_maria.balutoiu/hardware1.jpg
  docs/project/2024/ana_maria.balutoiu/index.md
Labels: project

#308 update_hardware
  docs/project/2024/Ioana_maria.cristea/index.md
  docs/project/2024/Ioana_maria.cristea/newkicad_fan.jpg
  docs/project/2024/Ioana_maria.cristea/pic1.2.jpg
  docs/project/2024/Ioana_maria.cristea/pic2.jpg
  docs/project/2024/Ioana_maria.cristea/pic3.jpg
  docs/project/2024/Ioana_maria.cristea/pic4.jpg
  docs/project/2024/Ioana_maria.cristea/pic5.jpg
Labels: project

#281 [Crasher game] Add KICad Schematics
  docs/project/2024/florin_mihai.prodan/KicadScheme.png
  docs/project/2024/florin_mihai.prodan/index.md
Labels: project

#330 hardware milestone
  docs/project/2024/naomi.lita/architectureChioreanLita.png
  docs/project/2024/naomi.lita/index.md
  docs/project/2024/naomi.lita/kicad_schematic.jpg
  docs/project/2024/naomi.lita/motor_rotation.jpg
  docs/project/2024/naomi.lita/project_image01.jpg
  docs/project/2024/naomi.lita/project_image02.jpg
  docs/project/2024/naomi.lita/schematic_project.png
Labels: project

#328 Modified the kicad schematic and added the current logs
  docs/project/2024/gabriel.bilciurescu_eduard_ionut.pica/hardware_schematic1.png
  docs/project/2024/gabriel.bilciurescu_eduard_ionut.pica/hardware_schematic2.png
  docs/project/2024/gabriel.bilciurescu_eduard_ionut.pica/index.md
Labels: project

#326 [Crasher game] Hardware Milestone
  docs/project/2024/florin_mihai.prodan/KicadSchematics.png
  docs/project/2024/florin_mihai.prodan/KicadScheme.png
  docs/project/2024/florin_mihai.prodan/airplane_LEDs.jpg
  docs/project/2024/florin_mihai.prodan/architecture.png
  docs/project/2024/florin_mihai.prodan/box.jpg
  docs/project/2024/florin_mihai.prodan/hardware.jpg
  docs/project/2024/florin_mihai.prodan/index.md
Labels: project

#325 Added the KiCad Schematic and Hardware images
  docs/project/2024/azzam.zafar/KiCad_Project_Schematic_Image.png
  docs/project/2024/azzam.zafar/Project_Hardware_Image_1.jpg
  docs/project/2024/azzam.zafar/Project_Hardware_Image_2.jpg
  docs/project/2024/azzam.zafar/index.md
Labels: project

#323 Hardware milestone
  docs/project/2024/ana_maria.comeaga/Kicad.png
  docs/project/2024/ana_maria.comeaga/Picture1.jpg
  docs/project/2024/ana_maria.comeaga/Picture2.jpg
  docs/project/2024/ana_maria.comeaga/Picture3.jpg
  docs/project/2024/ana_maria.comeaga/Picture4.jpg
  docs/project/2024/ana_maria.comeaga/index.md
Labels: project

#319 new log update
  docs/project/2024/Ioana_maria.cristea/index.md
Labels: project

#317 RC_CAR_Project by george.petre1104 modifications
  docs/project/2024/george.petre1104/index.md
  docs/project/2024/george.petre1104/photos/Photo.jpeg
  docs/project/2024/george.petre1104/photos/Photo1.jpeg
  docs/project/2024/george.petre1104/photos/Photo2.jpeg
  docs/project/2024/george.petre1104/photos/Photo3.jpeg
  docs/project/2024/george.petre1104/photos/Photo4.jpeg
  docs/project/2024/george.petre1104/photos/Photo5.jpeg
  docs/project/2024/george.petre1104/schema.png
Labels: project

#284 Added KiCad schematic + Additional Hardware and Prototype pictures + LOG
  docs/project/2024/kaan.ugur/before-building.jpg
  docs/project/2024/kaan.ugur/final-side.jpg
  docs/project/2024/kaan.ugur/final_back.jpg
  docs/project/2024/kaan.ugur/final_front.jpg
  docs/project/2024/kaan.ugur/hardware.jpg
  docs/project/2024/kaan.ugur/hardware1.png
  docs/project/2024/kaan.ugur/hardware_front.jpg
  docs/project/2024/kaan.ugur/hardware_top.jpg
  docs/project/2024/kaan.ugur/index.md
  docs/project/2024/kaan.ugur/kicad_new.png
  docs/project/2024/kaan.ugur/prototype_front.jpg
  docs/project/2024/kaan.ugur/prototype_side.jpg
  docs/project/2024/kaan.ugur/schema_hardware.png
Labels: project

#335 Project documentation
  docs/project/2024/teodor.marinescu/Hardware1.jpeg
  docs/project/2024/teodor.marinescu/Hardware2.jpeg
  docs/project/2024/teodor.marinescu/Kicad_sch.png
  docs/project/2024/teodor.marinescu/Sound_sensor.png
  docs/project/2024/teodor.marinescu/index.md
Labels: project

#336 Hardware
  docs/project/2024/george.radu2504/Kicad.png
  docs/project/2024/george.radu2504/index.md
  docs/project/2024/george.radu2504/project_1.jpg
  docs/project/2024/george.radu2504/project_2.jpg
Labels: project

#333 Added kicad schematic
  docs/project/2024/elena.bilciurescu_daria_maria.toma/index.md
  docs/project/2024/elena.bilciurescu_daria_maria.toma/kicad.jpg
Labels: project

#287 Update documentation + Hardware schematics"
  docs/project/2024/mircea_andrei.rata/Hardware1.jpeg
  docs/project/2024/mircea_andrei.rata/Hardware2.jpeg
  docs/project/2024/mircea_andrei.rata/index.md
  docs/project/2024/mircea_andrei.rata/kicad.png
Labels: project

#346 Fixed small typo in the Project's description
  docs/project/2024/gabriel.danaila/index.md
Labels: project

#313 Hardware Milestone Documentation
  docs/project/2024/ramona.nitu/Hardware1.jpeg
  docs/project/2024/ramona.nitu/Hardware2.jpeg
  docs/project/2024/ramona.nitu/Hardware3.jpeg
  docs/project/2024/ramona.nitu/Hardware4.jpeg
  docs/project/2024/ramona.nitu/KiCad_Schematics.png
  docs/project/2024/ramona.nitu/index.md
Labels: project

#311 Project documentation
  docs/project/2024/abdul.mirghani/Hardware_pic1.jpg
  docs/project/2024/abdul.mirghani/Hardware_pic2.jpg
  docs/project/2024/abdul.mirghani/Kicad.png
  docs/project/2024/abdul.mirghani/Kicad_picture.jpg
  docs/project/2024/abdul.mirghani/index.md
Labels: project

#341 Update index.md
  docs/project/2024/mihaela_raluca.dorobantu/1.jpeg
  docs/project/2024/mihaela_raluca.dorobantu/2.jpeg
  docs/project/2024/mihaela_raluca.dorobantu/3.jpeg
  docs/project/2024/mihaela_raluca.dorobantu/4.jpeg
  docs/project/2024/mihaela_raluca.dorobantu/5.jpeg
  docs/project/2024/mihaela_raluca.dorobantu/6.jpeg
  docs/project/2024/mihaela_raluca.dorobantu/7.jpeg
  docs/project/2024/mihaela_raluca.dorobantu/SmartBot-Navigator_schematics.jpeg
  docs/project/2024/mihaela_raluca.dorobantu/index.md
Labels: project

#342 Project documentation
  docs/project/2024/carina.grec/1.jpg
  docs/project/2024/carina.grec/2.jpg
  docs/project/2024/carina.grec/index.md
  docs/project/2024/carina.grec/kicad.png
Labels: project

#306 Hardware
  docs/project/2024/alexandra.oblu/diagram.jpg
  docs/project/2024/alexandra.oblu/index.md
  docs/project/2024/alexandra.oblu/kicad.png
  docs/project/2024/alexandra.oblu/robot.jpg
Labels: project

#293 hardware_remote_game(miruna.solomon)
  docs/project/2024/miruna.solomon/index.md
  docs/project/2024/miruna.solomon/pacman_game.svg
  docs/project/2024/miruna.solomon/remote_game.svg
Labels: project

#321 Improved the photo section design (alberto.udrea0412)
  docs/project/2024/alberto.udrea0412/index.md
  docs/project/2024/alberto.udrea0412/schematics/simple_kicad.png
Labels: project

#318 Hardware milestone documentation
  docs/project/2024/ioana.surugiu/circuit.jpg
  docs/project/2024/ioana.surugiu/circuit1.jpg
  docs/project/2024/ioana.surugiu/circuit2.jpg
  docs/project/2024/ioana.surugiu/index.md
  docs/project/2024/ioana.surugiu/kicad.jpg
Labels: project

#354 Added the schematics and hardware setup
  docs/project/2024/catalin.barabas/index.md
  docs/project/2024/catalin.barabas/kicadschem.jpg
  docs/project/2024/catalin.barabas/sideview.jpg
  docs/project/2024/catalin.barabas/topview.jpg
Labels: project

#352 [Radar Secure System] Hardware Milestone Documentation
  docs/project/2024/cristiana.precup/Hardware1.jpg
  docs/project/2024/cristiana.precup/Hardware2.jpg
  docs/project/2024/cristiana.precup/Hardware3.jpg
  docs/project/2024/cristiana.precup/KiCadSchematics.png
  docs/project/2024/cristiana.precup/index.md
Labels: project

#355 Negrila Rares - Laser Piano
  docs/project/2024/rares.negrila/assets/KiCad.JPG
  docs/project/2024/rares.negrila/assets/KiCad_before.JPG
  docs/project/2024/rares.negrila/assets/cs.JPG
  docs/project/2024/rares.negrila/assets/hardware_1.jpeg
  docs/project/2024/rares.negrila/assets/hardware_2.jpeg
  docs/project/2024/rares.negrila/assets/hardware_3.jpeg
  docs/project/2024/rares.negrila/index.md
Labels: project
