Repository UPB-PMRust/upb-pmrust.github.io, pull requests merged in 2024-04, with the labels that each got.

#87 Remove unnecessary channel sender argument to task in "Channel" section of Lab05
  docs/lab/05/index.md
Labels: lab

#88 Use wrapping/saturating
  docs/lab/05/index.md
Labels: lab

#89 Lecture 6
  .github/workflows/deploy.yml
  .github/workflows/test-deploy.yml
  .gitignore
  docs/lecture/01.md
  docs/lecture/02.md
  docs/lecture/03.md
  docs/lecture/04.md
  docs/lecture/05.md
  docs/lecture/06.md
  package-lock.json
  package.json
  slides/build.sh
  slides/lectures/06/dma/dma.svg
  slides/lectures/06/dma/slides.md
  slides/lectures/06/sensors/analog_sensor.svg
  slides/lectures/06/sensors/bmp280_registers.png
  slides/lectures/06/sensors/bmp280_schematics.png
  slides/lectures/06/sensors/digital_sensor.svg
  slides/lectures/06/sensors/slides.md
  slides/lectures/06/sensors/spi_read_register.json
  slides/lectures/06/sensors/spi_read_register.svg
  slides/lectures/06/sensors/spi_write_register.json
  slides/lectures/06/sensors/spi_write_register.svg
  slides/lectures/06/setup/katex.ts
  slides/lectures/06/slides.md
  slides/lectures/06/spi/raspberry_pi_pico_pins.jpg
  slides/lectures/06/spi/slides.md
  slides/lectures/06/spi/spi_daisy.svg
  slides/lectures/06/spi/spi_daisy_active.svg
  slides/lectures/06/spi/spi_example.json
  slides/lectures/06/spi/spi_example.svg
  slides/lectures/06/spi/spi_leds.jpg
  slides/lectures/06/spi/spi_main_sub.svg
  slides/lectures/06/spi/spi_network.svg
  slides/lectures/06/spi/spi_network_transmission.json
  slides/lectures/06/spi/spi_network_transmission.svg
  slides/lectures/06/spi/spi_variants.json
  slides/lectures/06/spi/spi_variants.svg
  slides/lectures/06/uart/rp2040_adafruit_pinout.png
  slides/lectures/06/uart/rs232_cable.jpg
  slides/lectures/06/uart/slides.md
  slides/lectures/06/uart/uart.json
  slides/lectures/06/uart/uart.svg
  slides/lectures/06/uart/uart_device.svg
  slides/lectures/06/uart/uart_examples.json
  slides/lectures/06/uart/uart_examples.svg
  slides/lectures/06/uart/uart_receiver.svg
  slides/lectures/06/uart/uart_transmissions.json
  slides/lectures/06/uart/uart_transmissions.svg
  slides/lectures/06/uart/uart_transmissions_delay.json
  slides/lectures/06/uart/uart_transmissions_delay.svg
  slides/lectures/06/uart/uart_transmitter.svg
  slides/lectures/06/uart/uart_wiring.svg
  slides/lectures/assets/global-bottom.vue
Labels: workflow, website, lecture, slides

#93 Lab06 - Serial Peripheral Interface
  docs/lab/06/images/SPI_timing_diagram_CS.svg
  docs/lab/06/images/analog_sensor.svg
  docs/lab/06/images/bmp280_memory_map.png
  docs/lab/06/images/bmp280_wiring.png
  docs/lab/06/images/buzzer.png
  docs/lab/06/images/digital_sensor.svg
  docs/lab/06/images/pico_pinout.png
  docs/lab/06/images/spi_daisy.svg
  docs/lab/06/images/spi_network.svg
  docs/lab/06/images/spi_network_transmission.svg
  docs/lab/06/images/spi_read_write_bmp280.png
  docs/lab/06/index.md
Labels: lab

#95 changed the code snippet from cs.set_low() to cs.set_high()
  docs/lab/06/index.md
Labels: lab

#91 Update packages
  package-lock.json
  package.json
Labels: website

#90 Add pico explorer pinout to the lab
  docs/lab/02/02.md
  docs/lab/03/03.md
  docs/lab/05/index.md
  docs/lab/images/explorer_pins.jpg
Labels: lab

#102 Lecture 7
  docs/lecture/07.md
  slides/lectures/07/i2c/i2c_10bit_address_format.json
  slides/lectures/07/i2c/i2c_10bit_address_format.svg
  slides/lectures/07/i2c/i2c_10bit_address_transmission.json
  slides/lectures/07/i2c/i2c_10bit_address_transmission.svg
  slides/lectures/07/i2c/i2c_7bit_address_format.json
  slides/lectures/07/i2c/i2c_7bit_address_format.svg
  slides/lectures/07/i2c/i2c_7bit_address_transmission.json
  slides/lectures/07/i2c/i2c_7bit_address_transmission.svg
  slides/lectures/07/i2c/i2c_example.json
  slides/lectures/07/i2c/i2c_example.svg
  slides/lectures/07/i2c/i2c_network.svg
  slides/lectures/07/i2c/raspberry_pi_pico_pins.jpg
  slides/lectures/07/i2c/slides.md
  slides/lectures/07/sensors/analog_sensor.svg
  slides/lectures/07/sensors/bmp280_registers.png
  slides/lectures/07/sensors/bmp280_schematics.png
  slides/lectures/07/sensors/digital_sensor.svg
  slides/lectures/07/sensors/slides.md
  slides/lectures/07/sensors/spi_read_register.json
  slides/lectures/07/sensors/spi_read_register.svg
  slides/lectures/07/sensors/spi_write_register.json
  slides/lectures/07/sensors/spi_write_register.svg
  slides/lectures/07/setup/katex.ts
  slides/lectures/07/setup/mermaid.ts
  slides/lectures/07/slides.md
  slides/lectures/07/usb/slides.md
  slides/lectures/07/usb/usb_bmrequest.json
  slides/lectures/07/usb/usb_bmrequest.svg
  slides/lectures/07/usb/usb_device.svg
  slides/lectures/07/usb/usb_device_descriptor.svg
  slides/lectures/07/usb/usb_packet_data.json
  slides/lectures/07/usb/usb_packet_data.svg
  slides/lectures/07/usb/usb_packet_handshake.json
  slides/lectures/07/usb/usb_packet_handshake.svg
  slides/lectures/07/usb/usb_packet_token.json
  slides/lectures/07/usb/usb_packet_token.svg
  slides/lectures/07/usb/usb_setup_request.json
  slides/lectures/07/usb/usb_setup_request.svg
Labels: lecture, slides

#103 Add video links for pwm uart and spi
  slides/lectures/04/pwm/slides.md
  slides/lectures/06/spi/slides.md
  slides/lectures/06/uart/slides.md
Labels: slides

#96 Update index.md
  docs/lab/06/index.md
Labels: lab

#101 Lab07 - Inter-Integrated Circuit
  docs/lab/07/images/i2c_10bit_address_transmission.svg
  docs/lab/07/images/i2c_7bit_address_transmission.svg
  docs/lab/07/images/i2c_bmp280_read.png
  docs/lab/07/images/i2c_bmp280_write.png
  docs/lab/07/images/i2c_network.svg
  docs/lab/07/index.md
Labels: lab

#104 Lecture 7 fix the 7 bit address transmission
  slides/lectures/07/i2c/i2c_7bit_address_transmission.json
  slides/lectures/07/i2c/i2c_7bit_address_transmission.svg
Labels: slides

#106 Lab07 - Use embedded_hal functions in lab examples
  docs/lab/07/index.md
Labels: lab

#107 Add video links for pwm, spi, uart in labs
  docs/lab/04/index.md
  docs/lab/06/index.md
  docs/lab/07/index.md
Labels: lab

#109 Lecture 8
  docs/lecture/08.md
  slides/lectures/08/osi/osi_stack.svg
  slides/lectures/08/osi/slides.md
  slides/lectures/08/protocols/slides.md
  slides/lectures/08/raspberry_pi_pico/cyw43.svg
  slides/lectures/08/raspberry_pi_pico/firmware.svg
  slides/lectures/08/raspberry_pi_pico/firmware_run.svg
  slides/lectures/08/raspberry_pi_pico/slides.md
  slides/lectures/08/raspberry_pi_pico/smoltcp.svg
  slides/lectures/08/raspberry_pi_pico/wifi_tasks.svg
  slides/lectures/08/setup/mermaid.ts
  slides/lectures/08/slides.md
  slides/lectures/08/tcp_ip/frame.svg
  slides/lectures/08/tcp_ip/packet.svg
  slides/lectures/08/tcp_ip/slides.md
  slides/lectures/08/tcp_ip/tcp_ip_stack.svg
  slides/lectures/08/tcp_ip/transport.svg
  slides/lectures/08/wifi/WiFi_Logo.svg
  slides/lectures/08/wifi/discrete_network.svg
  slides/lectures/08/wifi/integrated_network.svg
  slides/lectures/08/wifi/slides.md
Labels: lecture, slides

#119 Fix the i2c in lecture 01
  slides/lectures/01/rp2040/slides.md
Labels: slides

#121 Fix lecture 4 typo
  slides/lectures/04/adc/slides.md
  slides/lectures/04/timers/slides.md
Labels: slides

#122 Improve timer
  slides/lectures/04/timers/slides.md
Labels: slides

#118 Fix ARM ISA
  slides/lectures/01/mcu/slides.md
  slides/lectures/01/rp2040/slides.md
Labels: slides

#108 Lab08 - Wi-Fi
  docs/lab/08/images/Wi-Fi.gif
  docs/lab/08/images/cyw43.png
  docs/lab/08/images/ip_address.json
  docs/lab/08/images/ip_address.png
  docs/lab/08/images/ip_address_bits.json
  docs/lab/08/images/ip_address_bits.png
  docs/lab/08/images/osi_stack.svg
  docs/lab/08/images/packet.svg
  docs/lab/08/images/properties.png
  docs/lab/08/index.md
Labels: lab

#124 fix from_utf8 import
  docs/lab/08/index.md
Labels: lab

#120 Volatile is not the same as no cache
  slides/lectures/02/mmio/slides.md
  slides/lectures/06/dma/slides.md
Labels: help wanted, slides

#125 Add students template
  docs/project/2024/_category_.json
  docs/project/2024/your_curs_upb_ro_id.md
  docs/project/_category_.json
  docs/project/index.md
Labels: project
