Repository UPB-PMRust/upb-pmrust.github.io, pull requests merged in 2024-03, with the labels that each got.

#33 Fix typos in the index page
  src/components/HomepageFeatures/index.tsx
Labels: website

#37 Lecture 1
  .github/labeler.yml
  .github/workflows/deploy.yml
  .github/workflows/test-deploy.yml
  docs/lecture/01.md
  slides/.gitignore
  slides/.npmrc
  slides/README.md
  slides/build.sh
  slides/lectures/01/admin/pm_fair.png
  slides/lectures/01/admin/slides.md
  slides/lectures/01/agc/agc.jpg
  slides/lectures/01/agc/dsky.png
  slides/lectures/01/agc/slides.md
  slides/lectures/01/mcu/arduino_uno.jpg
  slides/lectures/01/mcu/arm_logo.png
  slides/lectures/01/mcu/atmega_328.jpg
  slides/lectures/01/mcu/intel_8051.jpg
  slides/lectures/01/mcu/pic.jpg
  slides/lectures/01/mcu/risc-v_logo.png
  slides/lectures/01/mcu/slides.md
  slides/lectures/01/mcu/tricore.png
  slides/lectures/01/processor/8-bit-processor.svg
  slides/lectures/01/processor/pi5.jpg
  slides/lectures/01/processor/pico.jpg
  slides/lectures/01/processor/processor.svg
  slides/lectures/01/processor/slides.md
  slides/lectures/01/rp2040/arduino_nano_rp2040_connect.jpg
  slides/lectures/01/rp2040/pin_functions.png
  slides/lectures/01/rp2040/rp2040_bus.png
  slides/lectures/01/rp2040/rp2040_chip.png
  slides/lectures/01/rp2040/rp2040_pins.png
  slides/lectures/01/rp2040/slides.md
  slides/lectures/01/slides.md
  slides/lectures/01/subjects.md
  slides/lectures/01/team.md
  slides/lectures/assets/global-bottom.vue
  slides/lectures/assets/img/logo.svg
  slides/package-lock.json
  slides/package.json
  slides/vercel.json
Labels: workflow, lecture

#39 Wyliodrin link in the copyright statement
  docusaurus.config.ts
Labels: website

#34 Lab01 - Hardware introduction
  docs/lab/01.md
  docs/lab/images/3D_view.png
  docs/lab/images/amr_ldo.png
  docs/lab/images/breadboard.png
  docs/lab/images/breadboard_connections.png
  docs/lab/images/cp2102.png
  docs/lab/images/floating_btn.png
  docs/lab/images/footprint_error.png
  docs/lab/images/jumper_wires.png
  docs/lab/images/kicad_add_symbol.png
  docs/lab/images/kirchhoff_1.png
  docs/lab/images/kirchhoff_2.png
  docs/lab/images/led.png
  docs/lab/images/led_schematic.png
  docs/lab/images/ohm.png
  docs/lab/images/pick_component.png
  docs/lab/images/pico_powerchain.png
  docs/lab/images/picow-pinout.svg
  docs/lab/images/pin_description.png
  docs/lab/images/pinout_ldo.png
  docs/lab/images/pinout_rp2040.png
  docs/lab/images/pinout_sharp.png
  docs/lab/images/power_symbol.png
  docs/lab/images/pullup_btn.png
  docs/lab/images/r_parallel.png
  docs/lab/images/r_series.png
  docs/lab/images/resistor_footprint.png
  docs/lab/images/roc_ldo.png
  docs/lab/images/route_tracks.png
  docs/lab/images/sharp_output.png
  docs/lab/images/sharp_supply.png
  docs/lab/images/small_breadboard.png
  docs/lab/images/update_pcb_1.png
  docs/lab/images/update_pcb_2.png
  docs/lab/images/voltage_divider.png
  docs/lab/images/voltage_divider_gnd.png
  docs/lab/images/voltage_divider_rs.png
  docusaurus.config.ts
  package-lock.json
  package.json
Labels: website, lab

#41 added source code for lab01 firmware
  docs/lab/01/images/3D_view.png
  docs/lab/01/images/amr_ldo.png
  docs/lab/01/images/breadboard.png
  docs/lab/01/images/breadboard_connections.png
  docs/lab/01/images/cp2102.png
  docs/lab/01/images/floating_btn.png
  docs/lab/01/images/footprint_error.png
  docs/lab/01/images/jumper_wires.png
  docs/lab/01/images/kicad_add_symbol.png
  docs/lab/01/images/kirchhoff_1.png
  docs/lab/01/images/kirchhoff_2.png
  docs/lab/01/images/led.png
  docs/lab/01/images/led_schematic.png
  docs/lab/01/images/ohm.png
  docs/lab/01/images/pick_component.png
  docs/lab/01/images/pico_powerchain.png
  docs/lab/01/images/picow-pinout.svg
  docs/lab/01/images/pin_description.png
  docs/lab/01/images/pinout_ldo.png
  docs/lab/01/images/pinout_rp2040.png
  docs/lab/01/images/pinout_sharp.png
  docs/lab/01/images/power_symbol.png
  docs/lab/01/images/pullup_btn.png
  docs/lab/01/images/r_parallel.png
  docs/lab/01/images/r_series.png
  docs/lab/01/images/resistor_footprint.png
  docs/lab/01/images/roc_ldo.png
  docs/lab/01/images/route_tracks.png
  docs/lab/01/images/sharp_output.png
  docs/lab/01/images/sharp_supply.png
  docs/lab/01/images/small_breadboard.png
  docs/lab/01/images/update_pcb_1.png
  docs/lab/01/images/update_pcb_2.png
  docs/lab/01/images/voltage_divider.png
  docs/lab/01/images/voltage_divider_gnd.png
  docs/lab/01/images/voltage_divider_rs.png
  docs/lab/01/index.md
  firmware/lab01/.cargo/config.toml
  firmware/lab01/.gitignore
  firmware/lab01/.vscode/settings.json
  firmware/lab01/Cargo.toml
  firmware/lab01/README.md
  firmware/lab01/build.rs
  firmware/lab01/cyw43-firmware/43439A0.bin
  firmware/lab01/cyw43-firmware/43439A0_clm.bin
  firmware/lab01/cyw43-firmware/LICENSE-permissive-binary-license-1.0.txt
  firmware/lab01/cyw43-firmware/README.md
  firmware/lab01/memory.x
  firmware/lab01/rust-toolchain.toml
  firmware/lab01/src/bin/pico_h.rs
  firmware/lab01/src/bin/pico_w.rs
  firmware/lab01/src/display/mod.rs
  firmware/lab01/src/lib.rs
Labels: lab

#40 lab01: Fix language
  docs/lab/01/index.md
Labels: lab

#42 lab01: Detail exercises and add rust workspace
  .gitignore
  Cargo.toml
  docs/lab/01/index.md
Labels: lab

#43 Lab01 uf2 and fix
  assets/lab01/firmware/pico_h.uf2
  assets/lab01/firmware/pico_w.uf2
  docs/lab/01/index.md
  firmware/lab01/src/bin/pico_h.rs
  firmware/lab01/src/bin/pico_w.rs
Labels: lab

#44 Add slides for lecture 2
  .gitignore
  README.md
  docs/lecture/01.md
  docs/lecture/02.md
  slides/lectures/02/bitwise/slides.md
  slides/lectures/02/embassy-rs/slides.md
  slides/lectures/02/mmio/8-bit-processor-with-cache.svg
  slides/lectures/02/mmio/8-bit-processor.svg
  slides/lectures/02/mmio/aircr_register_1.png
  slides/lectures/02/mmio/aircr_register_2.png
  slides/lectures/02/mmio/cpuid_register.png
  slides/lectures/02/mmio/slides.md
  slides/lectures/02/mmio/stm32_mmio.png
  slides/lectures/02/mmio/sysctrl_registers.png
  slides/lectures/02/rust-embedded/rust_embedded_stack.svg
  slides/lectures/02/rust-embedded/slides.md
  slides/lectures/02/sio/gpio_ctrl_register.png
  slides/lectures/02/sio/gpio_mux.png
  slides/lectures/02/sio/gpio_pad_ctrl_1.png
  slides/lectures/02/sio/gpio_pad_ctrl_2.png
  slides/lectures/02/sio/gpio_pad_registers.png
  slides/lectures/02/sio/gpio_pads.png
  slides/lectures/02/sio/gpio_status_ctrl.png
  slides/lectures/02/sio/pin_functions.png
  slides/lectures/02/sio/pin_input.png
  slides/lectures/02/sio/pin_output.png
  slides/lectures/02/sio/rp2040_bus.png
  slides/lectures/02/sio/rp2040_chip.png
  slides/lectures/02/sio/rp2040_cortex-m0-plus.png
  slides/lectures/02/sio/rp2040_pins.png
  slides/lectures/02/sio/rp2040_sio.png
  slides/lectures/02/sio/sio_gpio_in.png
  slides/lectures/02/sio/sio_gpio_oe.png
  slides/lectures/02/sio/sio_gpio_oe_clr.png
  slides/lectures/02/sio/sio_gpio_oe_set.png
  slides/lectures/02/sio/sio_gpio_out.png
  slides/lectures/02/sio/sio_gpio_out_clr.png
  slides/lectures/02/sio/sio_gpio_out_set.png
  slides/lectures/02/sio/sio_registers.png
  slides/lectures/02/sio/slides.md
  slides/lectures/02/slides.md
Labels: lecture, slides

#45 Fix slides build
  slides/build.sh
Labels: slides

#48 Fix code in lecture 2 slides
  slides/lectures/02/sio/slides.md
Labels: slides

#46 Lab2
  docs/lab/02.md
  docs/lab/02/02.md
  docs/lab/02/images/button-bounce.png
  docs/lab/02/images/explorerbase_pinout.webp
  docs/lab/02/images/gpio_ctrl_register.png
  docs/lab/02/images/gpio_mux.png
  docs/lab/02/images/gpio_pad_ctrl_1.png
  docs/lab/02/images/gpio_pad_ctrl_2.png
  docs/lab/02/images/gpio_pad_registers.png
  docs/lab/02/images/gpio_status_ctrl.png
  docs/lab/02/images/pico-pinout.svg
  docs/lab/02/images/pin_functions.png
  docs/lab/02/images/register.png
  docs/lab/02/images/reset_registers.png
  docs/lab/02/images/reset_reset.png
  docs/lab/02/images/reset_reset_done.png
  docs/lab/02/images/rust_embedded_stack.svg
  docs/lab/02/images/sio_registers.png
  docs/lab/02/images/usage.png
Labels: lab

#49 patched missing `unsafe` blocks
  docs/lab/02/02.md
Labels: lab

#47 Embassy setup tutorial
  docs/tutorials/embassy/assets/picow-pinout.svg
  docs/tutorials/embassy/assets/the-probe.png
  docs/tutorials/embassy/index.md
  docusaurus.config.ts
Labels: website

#50 Add build, flash, serial and troubleshooting tutorial for lab02
  docs/lab/02/02.md
  docs/lab/02/images/objdump.png
  docs/lab/02/images/reset_vector_missing_error.png
Labels: lab

#53 lab02: simplify embassy-re sleep
  docs/lab/02/02.md
Labels: lab

#55 Update 02.md
  docs/lab/02/02.md
Labels: lab

#52 removed double `unsafe` block
  docs/lab/02/02.md
Labels: lab

#58 Update slides.md
  slides/lectures/02/bitwise/slides.md
Labels: slides

#56 Lecture 3
  docs/lecture/03.md
  slides/lectures/03/exceptions/cortex-m-nvic.svg
  slides/lectures/03/exceptions/cortex-m.svg
  slides/lectures/03/exceptions/exceptions.svg
  slides/lectures/03/exceptions/flash_address.svg
  slides/lectures/03/exceptions/interrupts.png
  slides/lectures/03/exceptions/slides.md
  slides/lectures/03/setup/mermaid.ts
  slides/lectures/03/slides.md
Labels: lecture, slides

#60 Solve a little typo
  slides/lectures/03/exceptions/slides.md
Labels: slides

#63 Lab 03 - Interrupts and timers
  docs/lab/03/03.md
  docs/lab/03/images/IRQrp2040.png
  docs/lab/03/images/M0regs.png
  docs/lab/03/images/VectorTable_ARM_CortexM0.png
  docs/lab/03/images/embassy_irq.png
  docs/lab/03/images/flash_address.svg
  docs/lab/03/images/interrupt_ll_edge_high.png
  docs/lab/03/images/rpsubsystem.png
  docs/lab/03/images/stack_frame.png
  docs/lab/03/images/systick_regs.png
  docs/lab/03/images/timer_counter.png
  docs/lab/03/images/timer_regs.png
  docusaurus.config.ts
  package-lock.json
  package.json
Labels: website, lab

#64 Lab03 part 2
  docs/lab/03/03.md
  docs/lab/03/additional.md_
  docs/lab/03/images/embedded-hal-embassy.svg
  docs/lab/03/images/timer_counter.png
  docs/lab/03/images/timer_regs.png
Labels: lab

#65 Replace steal with take in Lab 2
  docs/lab/02/02.md
Labels: lab

#66 Note for exercise in Lab 3
  docs/lab/03/03.md
  docs/lab/03/images/pico_explorer_pinout.png
Labels: lab

#67 Update 03.md
  docs/lab/03/03.md
Labels: lab

#69 Update 03.md
  docs/lab/03/03.md
Labels: lab

#70 Lab03 Fix typo
  docs/lab/03/03.md
Labels: lab

#71 Fixed typo
  slides/lectures/03/exceptions/slides.md
Labels: slides

#72 Lecture 4
  docs/lecture/03.md
  docs/lecture/04.md
  slides/lectures/04/adc/adc.svg
  slides/lectures/04/adc/adc_rp2040.png
  slides/lectures/04/adc/sample_rate.jpg
  slides/lectures/04/adc/sampling_values.svg
  slides/lectures/04/adc/slides.md
  slides/lectures/04/pwm/pulse-width-modulation-signal-diagrams-average.png
  slides/lectures/04/pwm/pwm.svg
  slides/lectures/04/pwm/pwm_example.png
  slides/lectures/04/pwm/pwm_led.gif
  slides/lectures/04/pwm/pwm_rp2040.png
  slides/lectures/04/pwm/pwm_rp2040_example.png
  slides/lectures/04/pwm/pwm_rp2040_example2.png
  slides/lectures/04/pwm/pwm_rp2040_pins.png
  slides/lectures/04/pwm/pwm_rp2040_registers.png
  slides/lectures/04/pwm/pwm_voltage.gif
  slides/lectures/04/pwm/rp2040_adafruit_pinout.png
  slides/lectures/04/pwm/slides.md
  slides/lectures/04/setup/katex.ts
  slides/lectures/04/signals/a_d.png
  slides/lectures/04/signals/analog_step.svg
  slides/lectures/04/signals/digital_step.svg
  slides/lectures/04/signals/noise.svg
  slides/lectures/04/signals/rp2040_chip.png
  slides/lectures/04/signals/sigital_step.svg
  slides/lectures/04/signals/slides.md
  slides/lectures/04/slides.md
  slides/lectures/04/timers/alarm.svg
  slides/lectures/04/timers/clock_divider.png
  slides/lectures/04/timers/clock_pipeline.png
  slides/lectures/04/timers/clocks.png
  slides/lectures/04/timers/counter.svg
  slides/lectures/04/timers/slides.md
  slides/lectures/04/timers/systick_csr_register.png
  slides/lectures/04/timers/systick_registers.png
  slides/lectures/04/timers/timer_registers_1.png
  slides/lectures/04/timers/timer_registers_2.png
Labels: lecture, slides

#73 Lab04 - PWM and ADC
  docs/lab/lab04/images/alarm.svg
  docs/lab/lab04/images/analog_signal.png
  docs/lab/lab04/images/clock_signal.png
  docs/lab/lab04/images/common_anode_common_cathode.png
  docs/lab/lab04/images/counter.svg
  docs/lab/lab04/images/digital_signal.png
  docs/lab/lab04/images/duty_cycle.png
  docs/lab/lab04/images/nyquist_theorem.png
  docs/lab/lab04/images/photoresistor.png
  docs/lab/lab04/images/photoresistor_wiring.png
  docs/lab/lab04/images/pulse-width-modulation-signal-diagrams-average.png
  docs/lab/lab04/images/pwm_led.gif
  docs/lab/lab04/images/pwm_rp2040_example.png
  docs/lab/lab04/images/pwm_rp2040_pins.png
  docs/lab/lab04/images/rp_crystal.png
  docs/lab/lab04/images/sampling_values.svg
  docs/lab/lab04/lab04.md
Labels: lab

#75 Rename lab04 folder
  docs/lab/02/02.md
  docs/lab/04/images/alarm.svg
  docs/lab/04/images/analog_signal.png
  docs/lab/04/images/clock_signal.png
  docs/lab/04/images/common_anode_common_cathode.png
  docs/lab/04/images/counter.svg
  docs/lab/04/images/digital_signal.png
  docs/lab/04/images/duty_cycle.png
  docs/lab/04/images/nyquist_theorem.png
  docs/lab/04/images/photoresistor.png
  docs/lab/04/images/photoresistor_wiring.png
  docs/lab/04/images/pulse-width-modulation-signal-diagrams-average.png
  docs/lab/04/images/pwm_led.gif
  docs/lab/04/images/pwm_rp2040_example.png
  docs/lab/04/images/pwm_rp2040_pins.png
  docs/lab/04/images/rp_crystal.png
  docs/lab/04/images/sampling_values.svg
  docs/lab/04/index.md
Labels: lab

#76 fixed usage of renamed import
  docs/lab/04/index.md
Labels: lab

#78 Correct SysTick code for lab 04
  docs/lab/04/index.md
Labels: lab

#80 Lab04 exercise number fix
  docs/lab/04/index.md
Labels: lab

#83 Fix SysTick code in Lecture 04
  slides/lectures/04/timers/slides.md
Labels: slides

#85 Lecture 5
  docs/lecture/05.md
  slides/lectures/05/communication/slides.md
  slides/lectures/05/concurrency/slides.md
  slides/lectures/05/executor/executor.svg
  slides/lectures/05/executor/isr_executor.svg
  slides/lectures/05/executor/slides.md
  slides/lectures/05/future/executor_w.svg
  slides/lectures/05/future/slides.md
  slides/lectures/05/setup/mermaid.ts
  slides/lectures/05/slides.md
Labels: lecture, slides
